<!-- <div class="bg-gray-50 min-h-screen"> -->
  <div class="max-w-4xl mx-auto bg-teal-50 shadow-lg rounded-lg p-8">
    <div class="flex items-center gap-2">
      <%= link_to "Delete Sessions", destroy_session_bulk_classroom_sessions_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
      <h2 class="text-2xl font-bold text-slate-500">Lembar Capaian <%= @session_date %></h2>
    </div>

      <%= form_with url: bulk_classroom_sessions_path, method: :post, local: true, class: "space-y-6" do |form| %>

        <% @classroom_sessions.each_with_index do |classroom_session, index| %>
          <div class="collapse collapse-arrow border border-gray-300 bg-gray-50 rounded-lg">
            <!-- Use radio buttons to control collapses -->
            <input type="radio" name="accordion" id="accordion-<%= index %>" class="peer hidden">
            <label for="accordion-<%= index %>"
              class="collapse-title text-sm font-semibold text-gray-600
              bg-orange-100 cursor-pointer items-center"
            >
              <%= classroom_session.classroom_student.student.name %>
            </label>
            <div class="collapse-content space-y-1 bg-teal-50">
              <%= form.hidden_field "classroom_sessions[#{index}][classroom_student_id]", value: classroom_session.classroom_student_id %>
              <%= form.hidden_field "classroom_sessions[#{index}][teacher_id]", value: classroom_session.teacher_id %>
              <%= form.hidden_field "classroom_sessions[#{index}][session_date]", value: classroom_session.session_date %>
              <%= form.hidden_field "classroom_sessions[#{index}][year]", value: classroom_session.year %>
              <%= form.hidden_field "classroom_sessions[#{index}][semester]", value: classroom_session.semester %>

              <!-- Attendance Fields -->
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">


                <div class="form-control">
                  <%= form.label "classroom_sessions[#{index}][attendance_status_id]", "Pilih Kehadiran", class: "label text-xs" %>

                  <div class="grid grid-cols-2 gap-4"">
                    <%= form.collection_radio_buttons "classroom_sessions[#{index}][attendance_status_id]", @attendance_statuses, :id, :name do |rb| %>
                      <label class="inline-flex items-center space-x-2 cursor-pointer text-xs">
                        <%= rb.radio_button(class: "radio radio-primary radio-xs") %>
                        <span><%= rb.text %></span>
                      </label>
                    <% end %>
                  </div>
                </div>

                <!-- <div class="form-control">
                  <%= form.label "classroom_sessions[#{index}][attendance_remarks]", "Keterangan", class: "label" %>
                  <%= form.text_field "classroom_sessions[#{index}][attendance_remarks]", class: "input input-bordered w-full" %>
                </div> -->
              </div>



              <div class="pt-2">
                <label for="" class="label text-sm bg-orange-100">
                  Ziyadah
                </label>

                <!-- Pilih Juz Ziyadah -->
                <div class="form-control">
                  <div class="grid grid-cols-2 gap-4">
                    <%= form.collection_radio_buttons :juz_ziyadah, [
                      "Juz 30", "Juz 29", "Juz 28", "Juz 27", "Juz 26", "Juz lainnya"
                      ], :to_s, :to_s do |rb| %>
                      <label class="inline-flex items-center space-x-2 cursor-pointer text-xs">
                        <%= rb.radio_button(class: "radio radio-primary radio-xs") %>
                        <span><%= rb.text %></span>
                      </label>
                    <% end %>
                  </div>
                </div>

                <div class="grid grid-cols-2 gap-4">
                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][ziyadahSurahStart]", "Dari", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][ziyadahSurahStart]", [],
                      { prompt: "Pilih Surat" }, class: "select select-bordered w-full text-xs" %>
                  </div>

                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][ziyadah_start]", "Ayat", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][ziyadah_start]", [],
                      { prompt: "Pilih Ayat" }, class: "select select-bordered w-full text-xs" %>
                  </div>
                </div>

                <!-- Ziyadah End -->
                <div class="grid grid-cols-2 gap-4">
                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][ziyadahSurahEnd]", "Sampai", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][ziyadahSurahEnd]", [],
                    { prompt: "Pilih Surat" }, class: "select select-bordered w-full text-xs" %>
                  </div>

                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][ziyadah_end]", "Ayat", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][ziyadah_end]", [],
                      { prompt: "Pilih Ayat" }, class: "select select-bordered w-full text-xs" %>
                  </div>
                </div>
              </div>



              <div class="pt-2">
                <label for="" class="label text-sm bg-orange-100">
                  Murajaah
                </label>
                <!-- Pilih Juz Murajaah -->
                <div class="form-control">
                  <div class="grid grid-cols-2 gap-4">
                    <%= form.collection_radio_buttons :juz_murajaah, [
                      "Juz 30", "Juz 29", "Juz 28", "Juz 27", "Juz 26", "Juz lainnya"
                      ], :to_s, :to_s do |rb| %>
                      <label class="inline-flex items-center space-x-2 cursor-pointer text-xs">
                        <%= rb.radio_button(class: "radio radio-primary radio-xs") %>
                        <span><%= rb.text %></span>
                      </label>
                    <% end %>
                  </div>
                </div>
                  <!-- Murajaah Start-->
                <div class="grid grid-cols-2 gap-4">
                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][murajaahSurahStart]", "Dari", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][murajaahSurahStart]", [],
                      { prompt: "Pilih Surat" }, class: "select select-bordered w-full text-xs" %>
                  </div>

                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][murajaah_start]", "Ayat", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][murajaah_start]", [],
                      { prompt: "Pilih Ayat" }, class: "select select-bordered w-full text-xs" %>
                  </div>
                </div>

                <div class="grid grid-cols-2 gap-4">
                  <!-- Murajaah End-->
                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][murajaahSurahEnd]", "Sampai", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][murajaahSurahEnd]", [],
                      { prompt: "Pilih Surat" }, class: "select select-bordered w-full text-xs" %>
                  </div>

                  <div class="form-control">
                    <%= form.label "classroom_sessions[#{index}][murajaah_end]", "Ayat", class: "label text-xs" %>
                    <%= form.select "classroom_sessions[#{index}][murajaah_end]", [],
                      { prompt: "Pilih Ayat" }, class: "select select-bordered w-full text-xs" %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <% end %>
        <div class="text-center">
          <%= form.submit "Buat Capaian", class: "btn btn-primary w-full md:w-auto" %>
        </div>


      <% end %>
  </div>





<script>
  document.addEventListener("turbo:load", () => {

    const ziyadahSurahsStart = document.querySelectorAll('[id^="classroom_sessions["][id$="[ziyadahSurahStart]"]');
    const ziyadahSurahsEnd = document.querySelectorAll("select[id^='classroom_sessions'][id$='[ziyadahSurahEnd]']");
    const murajaahSurahsStart = document.querySelectorAll("select[id^='classroom_sessions'][id$='[murajaahSurahStart]']");
    const murajaahSurahsEnd = document.querySelectorAll("select[id^='classroom_sessions'][id$='[murajaahSurahEnd]']");
    const juzZiyadahAll = document.querySelectorAll('input[type="radio"][name*="juz_ziyadah"]');
    const juzMurajaahAll = document.querySelectorAll('input[type="radio"][name*="juz_murajaah"]');
    const attendancesSelect = document.querySelectorAll('input[type="radio"][name*="[attendance_status_id]"]');
    // Juz Ziyadah goes here

    juzZiyadahAll.forEach(juzZiyadah => {
      juzZiyadah.addEventListener("change", function () {
        const selectedJuz = this.value;
        console.log(selectedJuz);
        const parent = this.closest(".collapse-content"); // Target parent collapse content

        if (!parent) return;

        // Find the corresponding ZiyadahSurahStart dropdown inside the same parent
        const ziyadahSurahStart = parent.querySelector("select[name*='[ziyadahSurahStart]']");
        const ziyadahSurahEnd = parent.querySelector("select[name*='[ziyadahSurahEnd]']");

        if (!ziyadahSurahStart) return;

        console.log(ziyadahSurahStart);


        if (!ziyadahSurahStart) return;

        // Fetch surah options from the backend
        fetch(`/bulk_classroom_sessions/filter_surah?juz=${selectedJuz}`)
          .then((response) => response.json())
          .then((data) => {
            console.log('Kopoi');

            console.log(data);

            // Clear existing options
            ziyadahSurahStart.innerHTML = `<option value="">Pilih Surat</option>`;
            ziyadahSurahEnd.innerHTML = `<option value="">Pilih Surat</option>`;

            // Populate new options
            data.forEach((surah) => {
              const optionStart = document.createElement("option");
              optionStart.value = surah.id;
              optionStart.textContent = surah.name;

              const optionEnd = document.createElement("option");
              optionEnd.value = surah.id;
              optionEnd.textContent = surah.name;

              ziyadahSurahStart.appendChild(optionStart);
              ziyadahSurahEnd.appendChild(optionEnd);
            });
          })
          .catch((error) => console.error("Error fetching surahs:", error));
      });
    })

    juzMurajaahAll.forEach(juzMurajaah => {
      juzMurajaah.addEventListener("change", function () {
        const selectedJuz = this.value;
        console.log(selectedJuz);
        const parent = this.closest(".collapse-content"); // Target parent collapse content

        if (!parent) return;

        // Find the corresponding ZiyadahSurahStart dropdown inside the same parent
        const murajaahSurahStart = parent.querySelector("select[name*='[murajaahSurahStart]']");
        const murajaahSurahEnd = parent.querySelector("select[name*='[murajaahSurahEnd]']");

        if (!murajaahSurahStart) return;

        console.log(murajaahSurahStart);


        if (!murajaahSurahStart) return;

        // Fetch surah options from the backend
        fetch(`/bulk_classroom_sessions/filter_surah?juz=${selectedJuz}`)
          .then((response) => response.json())
          .then((data) => {
            console.log('Kopoi');

            console.log(data);

            // Clear existing options
            murajaahSurahStart.innerHTML = `<option value="">Pilih Surat</option>`;
            murajaahSurahEnd.innerHTML = `<option value="">Pilih Surat</option>`;

            // Populate new options
            data.forEach((surah) => {
              const optionStart = document.createElement("option");
              optionStart.value = surah.id;
              optionStart.textContent = surah.name;

              const optionEnd = document.createElement("option");
              optionEnd.value = surah.id;
              optionEnd.textContent = surah.name;

              murajaahSurahStart.appendChild(optionStart);
              murajaahSurahEnd.appendChild(optionEnd);
            });
          })
          .catch((error) => console.error("Error fetching surahs:", error));
      });
    })


    // Attendance Status goes here
    // Add event listeners to each select element
    attendancesSelect.forEach(attendanceSelect => {
      attendanceSelect.addEventListener('change', (event) => {

        const selectedOption = event.target.nextElementSibling.textContent; // Get the selected option text
        const isHadir = selectedOption === "Hadir"; // Check if "Hadir" is selected
        const container = event.target.closest('.collapse-content');

        // Locate the related fields within the same container
        const parentContainer = event.target.parentElement.parentElement

        const ziyadahSurahStart = container.querySelector('[name*="[ziyadahSurahStart]"]');
        const ziyadah_start = container.querySelector('[name*="[ziyadah_start]"]');
        const ziyadahSurahEnd = container.querySelector('[name*="[ziyadahSurahEnd]"]');
        const ziyadah_end = container.querySelector('[name*="[ziyadah_end]"]');
        const murajaahSurahStart = container.querySelector('[name*="[murajaahSurahStart]"]');
        const murajaah_start = container.querySelector('[name*="[murajaah_start]"]');
        const murajaahSurahEnd = container.querySelector('[name*="[murajaahSurahEnd]"]');
        const murajaah_end = container.querySelector('[name*="[murajaah_end]"]');

        // Toggle disable state for related fields
        [ziyadahSurahStart, ziyadah_start, ziyadahSurahEnd, ziyadah_end, murajaahSurahStart, murajaah_start, murajaahSurahEnd, murajaah_end].forEach(dropdown => {

          if (dropdown) {
            dropdown.disabled = !isHadir;
          } else {
            dropdown.disabled = isHadir;
          }
        });
      });
    });

    ziyadahSurahsStart.forEach((ziyadahSurahStart, index) => {
      const ziyadahVersesSelect = document.querySelector(`select[id='classroom_sessions[${index}][ziyadah_start]']`);
      const ziyadahSurahEnd = ziyadahSurahsEnd[index]

      ziyadahSurahStart.addEventListener("change", () => {
        const surahId = ziyadahSurahStart.value;
        console.log(surahId);

        ziyadahSurahEnd.value = ziyadahSurahStart.value;
        ziyadahSurahEnd.dispatchEvent(new Event('change'))

        // console.log(ziyadahSurahEnd);
        if (!surahId) {
          ziyadahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
          return;
        }

        fetch(`/classroom_sessions/ziyadahVerses_by_surah?surah_id=${surahId}`)
          .then((response) => response.json())
          .then((data) => {
            ziyadahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
            data.verses.forEach((verse) => {
              const option = document.createElement("option");
              option.value = verse.id;
              option.textContent = verse.name;
              ziyadahVersesSelect.appendChild(option);
            });
          });
      });
    });

    ziyadahSurahsEnd.forEach((ziyadahSurahEnd, index) => {
      const ziyadahVersesSelect = document.querySelector(`select[id='classroom_sessions[${index}][ziyadah_end]']`);

      ziyadahSurahEnd.addEventListener("change", () => {
        const surahId = ziyadahSurahEnd.value;

        if (!surahId) {
          ziyadahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
          return;
        }

        fetch(`/classroom_sessions/ziyadahVerses_by_surah?surah_id=${surahId}`)
          .then((response) => response.json())
          .then((data) => {
            ziyadahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
            data.verses.forEach((verse) => {
              const option = document.createElement("option");
              option.value = verse.id;
              option.textContent = verse.name;
              ziyadahVersesSelect.appendChild(option);
            });
          });
      });
    });

    murajaahSurahsStart.forEach((murajaahSurahStart, index) => {
      const murajaahVersesSelect = document.querySelector(`select[id='classroom_sessions[${index}][murajaah_start]']`);

      const murajaahSurahEnd = murajaahSurahsEnd[index]

      murajaahSurahStart.addEventListener("change", () => {
        const surahId = murajaahSurahStart.value;
        murajaahSurahEnd.value = surahId
        murajaahSurahEnd.dispatchEvent(new Event('change'))

        if (!surahId) {
          murajaahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
          return;
        }

        fetch(`/classroom_sessions/murajaahVerses_by_surah?surah_id=${surahId}`)
          .then((response) => response.json())
          .then((data) => {
            murajaahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
            data.verses.forEach((verse) => {
              const option = document.createElement("option");
              option.value = verse.id;
              option.textContent = verse.name;
              murajaahVersesSelect.appendChild(option);
            });
          });
      });
    });
    murajaahSurahsEnd.forEach((murajaahSurahEnd, index) => {
      const murajaahVersesSelect = document.querySelector(`select[id='classroom_sessions[${index}][murajaah_end]']`);

      murajaahSurahEnd.addEventListener("change", () => {
        const surahId = murajaahSurahEnd.value;

        if (!surahId) {
          murajaahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
          return;
        }

        fetch(`/classroom_sessions/murajaahVerses_by_surah?surah_id=${surahId}`)
          .then((response) => response.json())
          .then((data) => {
            murajaahVersesSelect.innerHTML = '<option value="">Pilih Ayat</option>';
            data.verses.forEach((verse) => {
              const option = document.createElement("option");
              option.value = verse.id;
              option.textContent = verse.name;
              murajaahVersesSelect.appendChild(option);
            });
          });
      });
    });
  });

// New code goes here



</script>