


<div class="flex flex-col justify-center items-center min-h-screen space-y-4 bg-gray-800 p-4">
  <div class="p-2 rounded-md w-full h-full max-w-xs bg-gray-700">
    <div class="p-2 rounded-full w-full">
      <%= link_to 'Buat Laporan Siswa', step_one_classroom_sessions_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>

    <div class="p-2 rounded-full w-full">
      <%= link_to 'Tambahkan Siswa dalam Kelas', new_classroom_student_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>

    <div class="p-2 rounded-full w-full">
      <%= link_to 'Edit Data Laporan Siswa', edit_sessions_classroom_sessions_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>


    <div class="p-2 rounded-full w-full">
      <%= link_to 'Tambah Siswa', new_student_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>

    <div class="p-2 rounded-full w-full">
      <%= link_to 'Laporan Bulanan', step_one_reports_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>

    <div class="p-2 rounded-full w-full">
      <%= link_to 'Daftar Kelas dan Siswa', classroom_students_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>

    <div class="p-2 rounded-full w-full">
      <%= link_to 'Kelas', classrooms_path, class:"btn w-full bg-slate-100 hover:bg-slate-300 text-neutral-700 py-2 px-3 rounded-lg font-semibold" %>
    </div>
  </div>

</div>

<!-- <div data-controller="hello" class="bg-gray-800 p-6 rounded-full shadow-lg mt-8 border border-lime-500 mx-4">
  Check your console for a message!
</div> -->



